@import '../mixins.module';;

.repoListContainer {
  padding: 10px;
  @include card;
}

.repoListHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0 8px;
  h4 {
    font-size: 1.5em;
    line-height: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    flex: 1;
  }
  input {
    flex: 1;
    &:focus {
      outline: none;
    }
  }
  &:after {
    @include divider;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.repoList {
  display: flex;
  flex-wrap: wrap;
}
