
.orgContainer {
  strong {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

.organizations {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  a {
    margin: 5px;
  }
}
