@import 'mixins.module';

.searchContainer {
  height: 100%;
  background: url('../../images/simple-codelines.svg') #2b3137 center 10%;
}

.provider {
  height: 100%;
}

.spinner {
  @include strictly-center;
  height: 100%;
}
