@import "mixins.module";

@mixin avatar($size) {
  width: $size + px;
  height: $size + px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
  margin: 0 auto;
}

.githubAvatar {
  @include avatar(80);
}

.profileAvatar {
  position: absolute;
  top: 68px;
  right: 0;
  left: 0;
  @include avatar(124);
}

@keyframes rotating {
  @include rotate-keyframes;
}

@-webkit-keyframes rotating {
  @include rotate-keyframes;
}

.rotating {
  animation: rotating 10s linear infinite;
}
