@import "reset";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Icons16', sans-serif !important;
}

img {
  display: block;
}
